body{
  font-family: serif;
  width:960px;
  margin:auto;
}
header{
  height: 100px;
  border-bottom: dashed #444 10px;
}
header h2{
  margin: 30px 0 0 5px;
  font-family:serif;
  font-size: 24px;
}
header p{
  font-size: 12px;
  margin: 5px 0 0 5px;
}
header img{
  margin-top:40px;
}
nav{
  float:right;
  margin: 0 auto;
  width:400px;
  height:100px;
}
nav ul{
  list-style: none;
}
nav ul li{
  display:inline-block;
}

main h1{
  margin-top:50px;
  font-size:28px;
  font-family: monospace;
  font-weight: bold;
}
main h4{
  font-size: 12px;
  font-family: sans-serif;
}

main button{
  float:right;
  margin-top:50px;
  height:30px;
  background-color: white;
  border:none;
}
main img{
  width:960px;
  margin-top:30px;
}
main p{
  font-family: sans-serif;
  text-indent: 50px;
  margin-top:25px;
}
main ul{
  float:left;
  width:40%;
  margin:0 5%;
}
footer img{
float:left;
}
#author{
  float:left;
  width:75%;
}
footer{
  border-top: dashed black 10px;
}
footer button{
  float:right;
  background-color:orange;
  width: 160px;
  height:40px;
}

}
#logo{
  float:left;
  margin:30 0;
}
#logoText{
  float:left;
}
#articleHead{
  float:left;
  width:40%;
}
#printImage{
  width:10px;
  height:10px;
}

input[type=checkbox]:checked + label.strikethrough {
  text-decoration: line-through;
}
