*{
}
body{
  font-family: serif;
  width:960px;
  margin:auto;
}
header{
  height: 100px;
  border-bottom: dashed #444 10px;
}
#logo{
  float:left;
  margin:30 0;
}
header h2{
  margin: 30px 0 0 5px;
  font-family: 'Yellowtail', cursive;
  font-size: 24px;
}
header p{
  font-size: 12px;
  margin: 5px 0 0 5px;
  font-family: 'Roboto Condensed', sans-serif;
}
header img{
  margin-top:40px;
}
nav{
  float:right;
  margin: 0 auto;
  height:100px;
}
nav ul{
  list-style: none;
}
nav ul li{
  display:inline-block;
}

main {
  margin-bottom: 4%;
  height: 1200px;
  border-bottom: dashed black 10px;

}
main h1{
  margin-top:50px;
  font-size:28px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
main h4{
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
}

main button{
  float:right;
  margin-top:50px;
  height:30px;
  background-color: white;
  border:none;
}
main img{
  width:960px;
  margin-top:30px;
}
main p{
  font-family: 'Lora', serif;
  text-indent: 50px;
  margin-top:25px;
  margin-bottom:25px;
}

main ul{
  float:left;
  width:40%;
  margin:0 5%;
}

#vanessa{
float:left;

}
#author{
  float:left;
  width:75%;

}
footer{

  width:100%;
}
footer h3{
  font-weight: bold;
  font-size:18px;
  font-family:'Lora', serif;
  margin-left:7px;
}
footer p{
  margin-left:7px;
  font-family: 'Lora', serif;
}

footer li {
  font-family: 'Lora', serif;
}

label {
  font-family: 'Patrick Hand', cursive;
}

footer button{
  float:right;
  background-color:rosybrown;
  color:white;
  width: 160px;
  height:40px;
  }
footer ul{
  margin:auto;
  width:300px;
  text-align: center;
  font-size: 14px;
}
#abc{
  margin:60px 48% 20px 48%;
  /*width:100px;*/
}
#checks{
  background-image: url('img/list-bg.png')
}
#logoText{
  float:left;
}
#articleHead{
  float:left;
  width:40%;
}
#printImage{
  width:10px;
  height:10px;
}
